
@charset "UTF-8";
/* 共通部分
------------------------------------- */
html {
    font-size: 100%
}
body {
        font-family: 'Montserrat', sans-serif;;
    line-height: 1.7;
        color: #bfbfbf;
        max-width: 100px;

}
h1 {
    width: 100px;
    margin-top: 14px;
}
a {
    text-decoration: none;
}
.logo {
    width: 20px;
    margin-top: 14px;
}
.main-image {
    width: 210px;
    margin-top: 14px;
}


